div.card
    ul.card-defs.examples-expanded
        each val in def
            li.card-def
                span.card-def-text= val.text
                span.card-def-pos= val.pos

                - glob.gen = val.gen;
                - glob.fl = val.fl;
                include card-marks

                span.card-def__examples-toggle(
                data-text-show="показать примеры"
                data-text-hide="скрыть примеры")

                if val.tr
                    ol.card-translates
                        each tr in val.tr
                            li.card-translate
                                a.card-translate-text(href="" title=tr.pos)= tr.text
                                - glob.gen = tr.gen;
                                - glob.fl = tr.fl;
                                include card-marks
                                if tr.syn
                                    ul.card-synonym-list
                                        each syn in tr.syn
                                            li.card-synonym-list__item
                                                a.card-synonym-list__item-text(href="")= syn.text
                                                - glob.gen = syn.gen;
                                                - glob.fl = syn.fl;
                                                include card-marks
                                div.clear

                                if tr.mean
                                    ul.card-means
                                        each mean in tr.mean
                                            li.card-mean
                                                a.card-mean-href(href="")= mean.text

                                if tr.ex
                                    ul.card-examples
                                        each ex in tr.ex
                                            li.card-example
                                                div.card-example-text= ex.text
                                                if ex.tr
                                                    ul.card-example-translates
                                                        each tr in ex.tr
                                                            li.card-example-translate= tr.text
        else
            li.card-def
                span.card-def-text.card-def_empty Translate has not been found
