div.sdb-popup-card
    ul.sdb-popup-card-defs.examples-expanded
        each val in def
            li.sdb-popup-card-def
                span.sdb-popup-card-def-text= val.text
                span.sdb-popup-card-def-pos= val.pos

                - glob.gen = val.gen;
                - glob.fl = val.fl;
                include card-marks

                span.sdb-popup-card-def__examples-toggle(
                data-text-show="показать примеры"
                data-text-hide="скрыть примеры")

                if val.tr
                    ol.sdb-popup-card-translates
                        each tr in val.tr
                            li.sdb-popup-card-translate
                                div.sdb-popup-card-translate__main-block
                                    a.sdb-popup-card-translate-text(href="" title=tr.pos)= tr.text
                                    - glob.gen = tr.gen;
                                    - glob.fl = tr.fl;
                                    include card-marks
                                if tr.syn
                                    ul.sdb-popup-card-synonym-list
                                        each syn in tr.syn
                                            li.sdb-popup-card-synonym-list__item
                                                a.sdb-popup-card-synonym-list__item-text(href="")= syn.text
                                                - glob.gen = syn.gen;
                                                - glob.fl = syn.fl;
                                                include card-marks
                                div.clear

                                if tr.mean
                                    ul.sdb-popup-card-means
                                        each mean in tr.mean
                                            li.sdb-popup-card-mean
                                                a.sdb-popup-card-mean-href(href="")= mean.text

                                if tr.ex
                                    ul.sdb-popup-card-examples
                                        each ex in tr.ex
                                            li.sdb-popup-card-example
                                                div.sdb-popup-card-example-text= ex.text
                                                if ex.tr
                                                    ul.sdb-popup-card-example-translates
                                                        each tr in ex.tr
                                                            li.sdb-popup-card-example-translate= tr.text
        else
            li.sdb-popup-card-def
                span.sdb-popup-card-def-text.sdb-popup-card-def_empty Translate has not been found
